<module>
	<rawname>digium_phones</rawname>
	<repo>standard</repo>
	<type>setup</type>
	<category>Connectivity</category>
	<name>Digium Phones Config</name>
	<publisher>Digium</publisher>
	<license>GPLv2</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
	<version>16.0.3</version>
	<changelog>
		*16.0.3* FREEI-3052 whoops error when trying to upgrade digium phones module 
		*16.0.2* FREEI-2972 Add dashboard notification for DPMA SSL issue 
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
	<depends>
		<phpversion>5.2.0</phpversion>
		<version>13.0</version>
	</depends>
	<menuitems>
		<digium_phones needsenginedb="yes">Digium Phones</digium_phones>
	</menuitems>
	<supported>
		<version>16.0</version>
	</supported>
</module>